<div
	class="container-fluid">
	<div class="row Head">
		<div class="col-lg-6 col-sm-6 col-xs-6 reponsive">
			<a style="text-decoration: none; cursor: pointer"
				data-abc="true">
				<span class="Head_Title_Logo">Quản Lý Sản Phẩm</span>
			</a>
		</div>
	</div>
	<div class="row Section">
		<span class="Section_PageName"></span>
	</div>
	<div class="row">
		<div class="col-lg-12 col-xs-12 col-sm-12">
			<router-outlet></router-outlet>
			<div class="displaySpinner">
			</div>
		</div>
	</div>
</div>
